@model string
<td><a asp-action="Details" asp-route-id="@Model"><i class="fa-regular fa-eye fa-beat-fade  " style="color: #a32461;"></i></a></td>
<td> <a asp-action="Edit" asp-route-id="@Model"><i class="fa-duotone fa-solid fa-pen-to-square" style="--fa-primary-color: #1f5129; --fa-secondary-color: #1f5129;"></i></a> </td>
<td> <a asp-action="Delete" asp-route-id="@Model"> <i class="fa-solid fa-trash" style="color: #74C0FC;"></i></a> </td>
